VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=taromance-admin-mvp
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=1086777507539
VITE_FIREBASE_APP_ID=1:1086777507539:web:14d72bf586270eb21b1e26
VITE_FIRESTORE_SETTINGS_DOC=admin_draft_menu_board_settings/menu_board_settings
VITE_FIRESTORE_MENU_BOARD_ITEMS_COLLECTION=admin_draft_menu_board_items
VITE_FIRESTORE_MENU_BOARD_NOTICES_COLLECTION=admin_draft_menu_board_notices
VITE_FIRESTORE_MENU_COLLECTIONS=live_menu_items,live_cocktails,admin_draft_guide,admin_draft_spirits_public
VITE_FIRESTORE_NOTICE_COLLECTIONS=live_menu_notices
